<mat-card class="mat-elevation-z9 login-form centered scroll-none">
    <mat-progress-bar *ngIf="isProgress" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <mat-tab-group [@.disabled]="true" class="scroll-none">
      <mat-tab label="Авторизация" class="scroll-none">
        <div class="login-content scroll-none">
          <!-- <mat-form-field>
            <input matInput placeholder="Имя пользователя" [(ngModel)]="user.username">
          </mat-form-field> -->
<!-- 
          <mat-form-field>
            <input matInput placeholder="Пароль" [(ngModel)]="user.password" type="password" (keyup.enter)="login()">
          </mat-form-field> -->

          <mat-form-field appearance="fill">
            <mat-label>Имя пользователя</mat-label>
            <input matInput [(ngModel)]="user.username">
          </mat-form-field>

          <mat-form-field appearance="fill" class="scroll-none">
            <mat-label>Пароль</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="user.password" (keyup.enter)="login()">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon aria-hidden="false" class="scroll-none">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>


          <div class="login-footer">
              <button style="float: right; font-size: 1.1em; height: 40px; width: 100px;" mat-raised-button color="primary" (click)="login()" [disabled]="isProgress">Войти</button>
          </div>
      </div>
    </mat-tab>
  </mat-tab-group>    
</mat-card>

