.login-form{
    width:420px;
}

.full-width, mat-form-field {
    width: 100%;
}

.login-content{
    margin: 20px;
}

.centered {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-footer{
    width: 100%;
    margin-top: 20px; 
  }

  .progress-bar{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  }