<span class="page-title">Контроль качества по HACCP</span>
<span class="page-sub-title">Выберите действие</span>
<div class="centered">
    <button mat-raised-button class="main-menu-card" routerLink="../accum-batches">
        <div style="padding-top: 10px;">
            <div style="float: left;"><mat-icon style="font-size: 3em;">category</mat-icon></div>
            <div class="aligned-with-icon">Управление партиями</div>
        </div>
    </button>
    <button mat-raised-button class="main-menu-card" routerLink="../products">
        <div style="padding-top: 10px;">
            <div style="float: left;"><mat-icon style="font-size: 3em;">view_module</mat-icon></div>
            <div class="aligned-with-icon">Номенклатура</div>
        </div>
    </button>
    <button mat-raised-button class="main-menu-card">
        <div style="padding-top: 10px;">
            <div style="float: left;"><mat-icon style="font-size: 3em;">cloud_download</mat-icon></div>
            <div class="aligned-with-icon">Загрузить данные из IIKO</div>
        </div>
    </button>
    <button mat-raised-button class="main-menu-card">
        <div style="padding-top: 10px;">
            <div style="float: left;"><mat-icon style="font-size: 3em;">equalizer</mat-icon></div>
            <div class="aligned-with-icon">Отчеты</div>
        </div>
    </button>                
</div>
