@import '../../theme.scss';

.main-menu-card{
    width: 300px;
    height: 90px;
}

.mat-icon{
    color: mat-color($app-primary);
}

.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 50px;
}

.centered {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    display: block;
    margin: 10px;
}