<div class="container">    
    <mat-sidenav-container style="height: 100%;" fixedInViewport="fixed"  autosize>
        <mat-sidenav opened #drawer class="example-sidenav sidenav" mode="side">
            <div>
                <mat-nav-list>
                    <button mat-icon-button (click)="isExpanded = !isExpanded" style="margin-left: 8px">
                        <mat-icon style="color: white;">menu</mat-icon>
                    </button>                                
                    <a matTooltipClass="tooltip" matTooltip='{{ navLink.title }}' [matTooltipDisabled]="isExpanded" routerLinkActive="active" mat-list-item [routerLink]="navLink.link" *ngFor="let navLink of navLinks"><mat-icon class="side-nav-icon">{{navLink.icon}}</mat-icon><span *ngIf="isExpanded">&nbsp;&nbsp;{{ navLink.title }}</span> </a>
                </mat-nav-list>
            </div>
            
            <div class="side-nav-footer">
                <mat-divider></mat-divider>
                <mat-nav-list>
                    <a mat-list-item routerLink="settings"> <mat-icon>settings_applications</mat-icon><span *ngIf="isExpanded">&nbsp;&nbsp;Настройки</span> </a>
                    <a mat-list-item (click)="notWork()"> <mat-icon>help</mat-icon><span *ngIf="isExpanded">&nbsp;&nbsp;О программе </span> </a>
                </mat-nav-list>
            </div>            
        </mat-sidenav>
      
        <div class="content">
            <mat-toolbar> 
                <div class="tool-buttons">                    
                    <button mat-button [matMenuTriggerFor]="profileMenu" color="primary">
                        <span class="title-light" >{{userService.currentUser.firstName + ' ' + userService.currentUser.lastName}}</span><mat-icon>arrow_drop_down</mat-icon>
                    </button>            
                </div>           
            </mat-toolbar>
          <router-outlet></router-outlet>
        </div>
      
      </mat-sidenav-container>
    </div>       
    <!-- <mat-sidenav-container style="flex: 1;">
        <mat-sidenav mode="side" opened fixedInViewport="fixed" autosize>        
            <div>
                <mat-nav-list >
                    <button mat-icon-button (click)="isExpanded = !isExpanded">
                        <mat-icon>menu</mat-icon>
                    </button>                                
                    <a matTooltipClass="tooltip" matTooltip='{{ navLink.title }}' [matTooltipDisabled]="isExpanded" routerLinkActive="active" mat-list-item [routerLink]="navLink.link" *ngFor="let navLink of navLinks"><mat-icon class="side-nav-icon">{{navLink.icon}}</mat-icon><span *ngIf="isExpanded">&nbsp;&nbsp;{{ navLink.title }}</span> </a>
                </mat-nav-list>
            </div>        
            <div class="side-nav-footer">
                <mat-divider></mat-divider>
                <mat-nav-list>
                    <a mat-list-item routerLink="settings"> <mat-icon>settings_applications</mat-icon>&nbsp;&nbsp;Настройки </a>
                    <a mat-list-item (click)="notWork()"> <mat-icon>help</mat-icon>&nbsp;&nbsp;О программе </a>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar> 
                <div class="tool-buttons">                    
                    <button mat-button [matMenuTriggerFor]="profileMenu" color="primary">
                        <span class="title-light" >{{userService.currentUser.firstName + ' ' + userService.currentUser.lastName}}</span><mat-icon>arrow_drop_down</mat-icon>
                    </button>            
                </div>           
            </mat-toolbar>

            <div class="content">            
                <router-outlet></router-outlet>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container> -->

             <!-- <button mat-button color="primary" (click)="showNotifications()">
                        <mat-icon class="title-light" [matBadgeHidden]="!userService.notifications.length" matBadgeSize="small" [@fadeAnimation]="userService.notifications.length" [matBadge]="userService.notifications.length" matBadgeColor="accent" color="primary">notifications_none</mat-icon>
                    </button> -->

<mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="profileInfo()">
        <mat-icon>person_ouline</mat-icon>
        <span>Профиль пользователя</span>
    </button>                        
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Выйти</span>
    </button>
</mat-menu>
