@import '../../theme.scss';

.mat-tooltip{
    font-size: 1.2em !important;
}

.sidenav{
    background: mat-color($app-primary, 700) !important;
}

mat-toolbar{
    background: #fafafa !important;
}

mat-nav-list a{
    color:#eee !important;
}

mat-divider{
    background: mat-color($app-primary, 600);
}

.tool-buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;    
}

.title-light{
    font-size: 1.5em;
    font-weight: 100;
}

.content{
    padding: 20px;
    position: relative;
    height: 100%;
}

.side-nav-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.side-nav-footer a{
    font-size: .9em !important;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }