<span class="page-title">Движение партий</span>
<mat-progress-bar style="margin-top: 10px;" *ngIf="isProgress" class="progress-bar" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <table *ngIf="!isProgress" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>    
    <ng-container matColumnDef="number">
        <th mat-header-cell style="width: 250px !important;" *matHeaderCellDef mat-sort-header> Движение</th>
        <td mat-cell [ngClass]="element.accumType === 'arrow_downward' ? 'red' : 'green' " *matCellDef="let element"> <mat-icon>{{element.accumType}}</mat-icon>  </td>
    </ng-container>    

    <ng-container matColumnDef="amount">
        <th mat-header-cell style="width: 180px !important;" *matHeaderCellDef mat-sort-header> Партия</th>
        <td mat-cell  *matCellDef="let element"> {{element.batch}} </td>
    </ng-container> 

    <ng-container matColumnDef="unitName">
        <th mat-header-cell style="width: 180px !important;" *matHeaderCellDef mat-sort-header> Дата</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container> 

    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Количество</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container> 
    

    <!-- <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
        </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="edit(row)"></tr>    
    </table>
</div>
