<span class="page-title">Номенклатура</span>
<mat-progress-bar style="margin-top: 10px;" *ngIf="isProgress" class="progress-bar" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <table *ngIf="!isProgress" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>    
    <ng-container matColumnDef="prefix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Префикс</th>
        <td mat-cell *matCellDef="let element"> {{ element.prefix }} </td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Код</th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>    

    <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Артикул</th>
        <td mat-cell *matCellDef="let element"> {{element.article}} </td>
    </ng-container> 

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> 

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>  

    <!-- <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
        </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="edit(row)"></tr>    
    </table>
</div>
