@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic');
@import 'theme.scss';

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa; 
}

.mat-tooltip.tooltip {
  background-color: rgba(37, 37, 37, 0.9);
  font-size: 0.9em;
}

.scroll-none{
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


/* ie 10+ */
.element { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.element { overflow: -moz-scrollbars-none; }
}

.content-subtitle{   
    color: mat-color($app-primary);
    font-size: 2em;
    display: block;
}

.page-title{
  font-size: 2em;
  color: mat-color($app-primary, 800);
  display: block;
}

.page-sub-title{
  font-size: 1em;
  color: #888;
  display: block;
  margin-top: 5px;
}

.page-content{
  margin-top: 20px;
}

.full-width {
  width: 100%;
}